[v-cloak]{
    display: none;
}
.highlight {
    border: solid 3px red;
    color: red;
}
.shooting-star-leave-to, .shooting-star-enter {
    transform: translateX(150px) rotate(90deg);
    opacity: 0;
}
.shooting-star-enter-active, .shooting-star-leave-active{
    transition: all .5s ease;
    
}
.container{
    padding-top: 10mm;
}
.my-header{
    overflow: hidden;
    background-color: rgb(29, 34, 42);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.title-header{
    text-align: center;
    color: ivory;
}
body{
    background-color: lavender;
}